* {
  box-sizing: border-box;
}
/* font */
/* SF rounded */
  /** Ultra Light */
  @font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }

  /** Thin */
  @font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }

  /** Regular */
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

  /** Medium */
  @font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }

  /** Semi Bold */
  @font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }

  /** Bold */ 
  @font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }


/* 나눔스퀘어라운드 */
  @font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  h1 {
    color: #5B5DFF;
    font-family: "SF Pro Rounded";
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }

  h3 {
    color: #5B5DFF;
    font-family: "SF Pro Rounded";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }

.App {
  text-align: center;
}

/* push main */
.push-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.push-title img {
  min-width: 200px;
  overflow: visible !important;
  overflow-clip-margin: padding-box !important;
  max-width: 100%;
}

.push-main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(144.1% 66.59% at 50% 71.68%, #FFF 0%, #669CFF 100%);
}

.push-button {
  top: 11%;
  width: 120px;
  height: 110px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 24px solid  #79a6ff99;
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.push-button .back {
  background: #2C2E89;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.push-button .front {
  border-radius: 17.1875rem;
  background: linear-gradient(180deg, #2557FF 0%, #8FA9FF 100%);
  box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 24px 2px rgba(50, 193, 255, 0.45) inset;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: #2557FF99;
}

.push-button:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

/* line flow text */
.line-caption {
  background-color: white;
  padding: 4px 0;
}
.flowing-text-container {
  position: relative;
  width: 100%; /* 화면 전체를 가득 채움 */
  overflow: hidden; /* 텍스트가 컨테이너를 벗어나지 않도록 숨김 */
  white-space: nowrap;
}

.flowing-text {
  display: inline-block;
  padding-right: 4px; /* 텍스트 뒤에 충분한 공간 추가 */
  animation: flowText 50s linear infinite; /* 무한 반복 애니메이션 */
  color: #669CFF;
  font-family: "SF Pro Rounded";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  white-space: pre;
}

@keyframes flowText {
  0% {
    transform: translateX(0%); /* 처음 시작 */
  }
  100% {
    transform: translateX(-100%); /* 텍스트가 완전히 왼쪽으로 이동 */
  }
}

/* 모달 */
/* 오버레이 스타일 */
.custom-modal-overlay {
  background-color: #00000066; /* 반투명 검정 배경 */
  display: flex; /* 중앙 정렬 */
  justify-content: center;
  align-items: center;
  position: fixed; /* 화면 고정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

/* 콘텐츠 스타일 */
.custom-modal-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background: white; /* 배경색 */
  border-radius: 10px; /* 모서리 둥글게 */
  padding: 3rem 1rem; /* 내부 여백 */
  width: 400px; /* 고정 너비 */
  min-width: 24%; /* 반응형 너비 */
  max-width: 90%; /* 반응형 너비 */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transform: translateY(0); /* 초기 위치 */
  animation: slideIn 0.3s ease-in-out; /* 애니메이션 */
}

/* H2 스타일 */
.modal-H2 {
  font-family: 'NanumSquareRound', sans-serif;
  font-weight: Bold;
  font-size: 1.5rem;
  letter-spacing: -2px;
  color: #5B5DFF;
  margin: 0;
}

.custom-modal-content .msg {
  font-family: 'NanumSquareRound', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 1rem;
  letter-spacing: -0.8px;
  color: #3b3b3b;
  white-space: pre-wrap;
  text-align: center;
}

.modal-btn {
  background-color: #3179ff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  font-family: 'NanumSquareRound', sans-serif;
  font-weight: 700; /* Bold */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: #79a8ff;
}

/* 애니메이션 */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* 텍스트 */
.box {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: Bold;
    font-size: 1rem;
    display: inline-flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
}

/* 눈 */
*{ margin: 0; padding: 0; }
.snow_wrap .snow_div {
  position: fixed;
  top: -10%;
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  text-shadow : 0 0 5px rgba(0, 0, 0, 0.25);
  animation: snow_shake 3s ease-in-out infinite;  
  user-select: none;
}
.snow_wrap .snow_div p { animation: snow_fall 10s linear infinite; }

.snow_wrap .snow_div:nth-of-type(0) { left: 0%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(0) p { animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(1) { left: 10%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(1) p { animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(2) { left: 20%; animation-delay: 0.5s; }
.snow_wrap .snow_div:nth-of-type(2) p { animation-delay: 6s; }
.snow_wrap .snow_div:nth-of-type(3) { left: 30%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(3) p { animation-delay: 4s; }
.snow_wrap .snow_div:nth-of-type(4) { left: 40%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(4) p { animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(5) { left: 50%; animation-delay: 3s; }
.snow_wrap .snow_div:nth-of-type(5) p { animation-delay: 8s; }
.snow_wrap .snow_div:nth-of-type(6) { left: 60%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(6) p { animation-delay: 6s; }
.snow_wrap .snow_div:nth-of-type(7) { left: 70%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(7) p { animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(8) { left: 80%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(8) p { animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(9) { left: 90%; animation-delay: 1.5s; }
.snow_wrap .snow_div:nth-of-type(9) p { animation-delay: 3s; }
.snow_wrap .snow_div:nth-of-type(10) { left: 25%; animation-delay: 0.5s; }
.snow_wrap .snow_div:nth-of-type(10) p { animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(11) { left: 65%; animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(11) p { animation-delay: 4s; }
.snow_wrap .snow_div:nth-of-type(12) { left: 85%; animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(12) p { animation-delay: 7.5s; }
.snow_wrap .snow_div:nth-of-type(13) { left: 5%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(13) p { animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(14) { left: 45%; animation-delay: 1.5s; }
.snow_wrap .snow_div:nth-of-type(14) p { animation-delay: 3.5s; }
.snow_wrap .snow_div:nth-of-type(15) { left: 75%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(15) p { animation-delay: 2s; }
.snow_wrap .snow_div:nth-of-type(16) { left: 35%; animation-delay: 2.5s; }
.snow_wrap .snow_div:nth-of-type(16) p { animation-delay: 4.5s; }
.snow_wrap .snow_div:nth-of-type(17) { left: 15%; animation-delay: 1s; }
.snow_wrap .snow_div:nth-of-type(17) p { animation-delay: 3s; }
.snow_wrap .snow_div:nth-of-type(18) { left: 95%; animation-delay: 0s; }
.snow_wrap .snow_div:nth-of-type(18) p { animation-delay: 2s; }

@keyframes snow_shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes snow_fall {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(110vh);
  }
}